.dialog {
    display: flex;
    align-items: center;
    margin-bottom: 10px;


}
.dialog a{
    padding-left: 10px;
    text-decoration: none;
    color: black;
}

.dialog a.active{
    color: darkmagenta;
}

.dialog .avatar {
    height: 60px;
    width: 60px;
}