.dialog-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.dialog-item a{
    padding-left: 10px;
    text-decoration: none;
    color: black;
}

.dialog-item a.active{
    color: darkmagenta;
}

.dialog-item .avatar {
    height: 60px;
    width: 60px;
}

.dialog-item .avatar img{
    height: 60px!important;
}