.usersWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allUsers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.userCard:nth-of-type(2n) .followButton {
    background-color: #9595C4!important;
}

.userCard:nth-of-type(2n) .sendButton{
    border-color: #9595C4!important;
    color: #9595C4!important;
}
.selectedPage {
    font-weight: bold;
}