.friend {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    align-items: center;
    font-size: 12px;
    width: 46px;
    max-width: 46px;
    word-wrap: break-word;
    word-break: break-all;
}

.friend-avatar img {
    height: 45px !important;
}

