.userCard {
    width: 49.2%;
    height: 8rem;
    overflow: hidden;
    margin: 0 0 15px 0;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-content: center;
    justify-items: center;
}

.userCard .avatar {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    margin-left: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.userDescription {
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: hidden;
}

.userStatus {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.buttonsContainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 5px;
    justify-content: space-around;
    height: 100%;
}

.buttonsContainer.custom-button {
    position: relative;
    border-left: none !important;
}

.buttonsContainer.custom-button button {
    padding: 5px !important;
}

.buttonsContainer button {
    text-align: left;
    color: white;
    border-radius: 5px;
}

.followButton {
    background: #AD7CB5 !important;
}

.sendButton {
    color: #AD7CB5 !important;
    background: none !important;
    border: 1px solid #AD7CB5 !important;
}

#toggle-follow.disabled {
    background: darkgrey !important;
}