.preloader {
    padding: 20px!important;
}
.preloader-wrapper {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader img {
    height: 250px;
    width: 250px;
    border-radius: 10px;
}