.header {
    margin-top: 10px;
    grid-area: h;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 10px   20px;
    color: black;
    height: 6.6vh;
}
.currentUser {
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.currentUser span{
    padding-left: 10px;
}
