.nav {
    grid-area: n;
    padding: 20px;
    height: 78vh;
}
.item {
    margin-bottom: 1px;
}
.item a {
    color: black;
    text-decoration: none;
}

.item a.activeLink {
    color: darkmagenta;
}