.profile-info-container {
    padding: 0!important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-background-image {
    width: 100%;
    overflow: hidden;
    height: 15rem;
    border-radius: 10px 10px 0 0;
}

.profile-background-image img {
    width: 100%;
}

.user-avatar {
    position: relative;
}

.profile-avatar {
    height: 145px !important;
    width: 145px !important;
    border: 4px solid white;
    position: absolute;
    left: -77px;
    bottom: -70px;
}

.looking-for-a-job {
    position: absolute;
    left: 35px;
    bottom: -68px;
    height: 40px;
}

.description-block {
    margin-top: 75px;
    width: 100%;
    height: 20rem;
    max-height: 38.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-description {
    text-align: center;
}

.full-name {
    font-weight: bold;
    font-size: 1.05rem;
}

.user-job span {
    display: block;
}

.user-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 450px;
}

.user-contacts li {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 2px;
}

.user-contacts li img {
    height: 20px;
    min-width: 20px;
    width: auto;
    max-width: 100%;
    margin-right: 3px;
}