.postItem {
    margin-bottom: 10px;
}

.post {
    display: flex;
    align-items: center;
}

.post span{
    padding-left: 10px;
}

.post img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}