::-webkit-scrollbar { /* chrome based */
  width: 0;  /* ширина scrollbar'a */
  background: transparent;  /* опционально */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-image: url("./08.-Violet-Blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.panelWrapper {
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 83.6vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  box-sizing: border-box;
}

.cardWrapper {
  background: rgba( 255, 255, 255, 1 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
}

.shadowCard {
  box-sizing: border-box;
  padding: 10px;
  background: rgba( 255, 255, 255, 1);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
}

.avatar {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}

.avatar img {
  width: auto;
  height: 90px;
}

.header-text{
  font-size: 16px;
  font-weight: 600;
}
.subheader-text{
  font-size: 12px;
}
.text{
  font-size: 14px;
}

.custom-button {
  border-left: 1px solid black;
}

.custom-button button {
  border: none;
  background: none;
  padding-top: 20px;
  padding-left: 14px;
}

.custom-button:before {
  display: block;
  width: 1px;
  border-left: 1px solid #000;
  height: 250%;
  position: absolute;
  content: '';
  left: -10px;
  top: -90px;
  padding-right: 10px;
}

.custom-textarea  {
  height: 100%;
  width: 100%
}

.custom-textarea textarea {
  margin-bottom: 0;
  padding: 20px;
  resize: none;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  -moz-appearance: none;
}

.toast-wrapper {
  position: fixed;
  bottom: 3.5%;
  left: 90%;
  height: max-content;
  width: 9%;
}

.toast {
  padding: 0.5rem 1rem;
  background: rgba(128, 128, 128, 0.5);
  color: white;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  opacity: 100%;
  transition-property: opacity;
  transition-duration: 2s;
  transition-timing-function: linear;
}

.toast:hover {
  opacity: 0;
}