.dialogs {
    display: flex;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    height: 78vh;
}

.dialogsItems {
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px 0 0 10px;
    height: 72.5vh;
    width: 30vh;
}

.dialog {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.messages {
    width: 91vh;
    height: 72.5vh;
    max-height: 72.5vh;
    padding: 1.3vh 2.7vh;
    border-radius: 0 10px 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}


.addMessage {
    width: 91vh;
    margin: 0 2.7vh 1.3vh 2.7vh;
    height: 15vh;
    display: grid;
    grid-template-columns: 11fr 1fr;
    overflow: hidden;
    position: relative;
}
