.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 7px 10px!important;
    width: max-content;
    box-shadow: 0 4px 12px 0 rgba( 31, 38, 135, 0.4 )!important;
    align-self: flex-start;
    text-wrap: inherit;
}

.messageText {
    padding-left: 7px;
    width: max-content;
    max-width: 400px;
    word-wrap: break-word;
}

.rightMessage {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.rightMessage .messageText {
    padding-right: 7px;
    padding-left: 7px;
}

.message .avatar img{
    height: 45px!important;
    width: auto;
}