.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 7px 10px;
    width: max-content;
    background: rgba( 255, 255, 255, 1);
    box-shadow: 0 8px 25px 0 rgba( 31, 38, 135, 0.4 );
    backdrop-filter: blur( 10.0px );
    -webkit-backdrop-filter: blur( 20.0px );
    border-radius: 10px;
    align-self: flex-start;
    text-wrap: inherit;

}

.messageText {
    padding-left: 7px;
    width: max-content;
    max-width: 400px;
    word-wrap: break-word;
}

.rightMessage {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.rightMessage .messageText {
    padding-right: 7px;
    padding-left: 7px;
}

.userAvatar {
    align-self: end;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.userAvatar img {
    width: auto;
    height: 100%;
}

